.main {
  height: 100%;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.imageOutput {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.imageArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.downloadButton {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 700;
  background: -webkit-linear-gradient(#e15bf9, #6d2eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {

  .grid {
    display: flex;
    flex-direction: column;
  }

  .form {
    align-items: center;
  }

  .imageArea {
    width: 100%;
  }
}